<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://video-server.example/player"
        version="1.0.0"
        viewmodes="maximized">
  <tizen:application id="VsPlayer0001.VsPlayer"
                     package="VsPlayer0001"
                     required_version="6.0"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <name>Video-Server Player</name>
  <tizen:profile name="tv"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <icon src="icon.png"/>
</widget>
